html {
      scroll-padding-top: 17%;
      scroll-behavior: smooth;
}
header {
background-color:lightBlue;  
position:fixed;
}
a.head {
  text-decoration-line:none; 
}
a .active {
  color:blue;
} 
h3, h1 {  
  margin-left:10%;
  margin-top: 70 px;
  padding-top: 100 px;
}
#glossOver {
top:15%;
background-color:rgb(200,200,200);
text-align:center;
opacity:0.7;
  padding:30%;
  font-size:50px;
  font-color:black;
  
  height:85%;
  position:absolute;
}
audio {
 margin-left:10%;
 width:40%;
 border-width:1px;
 border-color:blue;
 border-style:solid;
 border-radius:10px;
 background-color:lightBlue;
}
.header {
  color:lightBlue;
  background-color:lightBlue;
  height:15%;
  position:fixed;
  top:0;
  left:0;
  width:100%;
}
.head {
  text-align:center;
  font-size:40px;  
  float:right; 
  padding-right:20px;
  padding-left:20px;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:30px;
  color:white;
}
p, .body1 {
  background-color:rgba(230,230,250);
  padding:2px;
  border-width:2px;
  border-style:dashed;
  border-color:rgb(0,0,190);
  width: 45%;
  margin-left:10%;
  font-size: 30px;
}
.head:hover {
  background-color:white;
  border-type:solid;
  border-color:blue;
  border-width:1px;
  color:lightBlue;
  border:2px solid blue;
  font-size: 1.1;
}
.logo {
  object-fit:cover; width:150px; height:150px; margin-left:15px; margin-top:15px
}
.code {
font-family:monospace;
font-size:32px;
background-color:rgba(220,220,240);
}
.blog-sidebar {
width:40%;
margin-right:5%;
position:fixed;
margin-top:40%;
      height:50%;
}
