header {
background-color:lightBlue;  
position:fixed;
}

td {
border:2px solid blue;
}
a.head {
  text-decoration-line:none; 
  
}

a .active {
  color:blue;
}
 
h3, h1 {
  
  margin-left:10%;
  margin-top: 70 px;
  padding-top: 100 px;
}

audio {
 margin-left:10%;
 width:40%;
 border-width:1px;
 border-color:blue;
 border-style:solid;
 border-radius:10px;
 background-color:lightBlue;
}

.header {
  color:lightBlue;
  background-color:lightBlue;
  height:15%;
  position:fixed;
  top:0;
  left:0;
  width:100%;
}
.head {
  text-align:center;
  font-size:40px;  
  float:right; 
  padding-right:20px;
  padding-left:20px;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:30px;
  color:white;
  
}
p {
  background-color:rgba(230,230,250);
  padding:2px;
  border-width:2px;
  border-style:dashed;
  border-color:rgb(0,0,190);
  width: 45%;
  margin-left:10%;
  font-size: 30px;
  
}
.head:hover {
  background-color:white;
  border-type:solid;
  border-color:blue;
  border-width:1px;
  color:lightBlue;
  border:2px solid blue;
  font-size: 1.1;

}
.logo {
  object-fit:cover; width:150px; height:150px; margin-left:15px; margin-top:15px
}
